extends layout

block content

  if user

    if user.membership == 'full'
      h5 Club Status

      if message
        p Congratulations you now have full membership
      p You're in the club

    if user.membership == 'partial'
      h5 Club Status

      p Join the Club

      if message 
        p Sorry, that is not the secret word
      form(method='POST' action='')
        label(for='secret_word') What is the secret word?
        input(type='text' name='secret_word')
        input(type='submit')

  else
    h4 You are not logged in
  