extends layout

block content

  h1 #{title}

  form(method="POST" action="/login/password")
    label( for="username") Username: 
    input( name="username" type="text")
    label( for="password") Password: 
    input( name="password" type="password")
    if message
      p #{message}
    div
      input( type="submit" value="Submit")
    


